@page
@model Book.Pages.User.book.add_bookModel

@{
	ViewData["Title"] = "Thêm Sách";
}


<h1>Thêm Sách</h1>
@if (TempData["Success"] != null)
{
	<p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
@if (TempData["Error"] != null)
{
	<p class="alert alert-danger" id="successMessage">@TempData["Error"]</p>
}
<div class="container">
	<div class="row">
		<form method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="col">
				<label asp-for="_Book.TenSach" class="control-label">Tên Sách</label>
				<input asp-for="_Book.TenSach" class="form-control" />
				<span asp-validation-for="_Book.TenSach" class="text-danger"></span>
			</div>
			<div class="col">
				<label asp-for="_Book.the_loaiId" class="control-label">Thể Loại</label>
				<select asp-for="_Book.the_loaiId" class="form-control" asp-items="ViewBag.the_loaiId"></select>
			</div>

			<div class="w-100"></div>

			<div class="col">
				<label asp-for="_Book.tacgiaId" class="control-label">Tác Giả</label>
				<select asp-for="_Book.tacgiaId" class="form-control" asp-items="ViewBag.tacgiaId"></select>
			</div>
			<div class="col">
				<label asp-for="@Model.File_PDF">File PDF</label>
				<br />
				<input asp-for="@Model.File_PDF" onchange="loadFile_pdf(event)" accept="application/pdf, application/vnd.ms-excel" />
				<span asp-validation-formaction="@Model.File_PDF"></span>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<label asp-for="@Model.File_img">Hình Ảnh</label>
				<br />
				<img id="File_img" style="max-width: 20%;" />
				<input asp-for="@Model.File_img" onchange="loadFile_img(event)" accept="image/gif, image/jpeg" />
				<span asp-validation-formaction="@Model.File_img"></span>
			</div>
			<div class="col"></div>
			<br />
			<div class="col">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>


<div id="load_book">
</div>

@section Scripts {
	@{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
<script>

	  load_book();
	  function load_book() {
		  $.ajax({
			  type: 'get',
			  url: '/User/book/list',
			  success: function(msg) {
				  $('#load_book').empty().append(msg);
			  },
			  error: function(xhr, status, error) {
				  alert(xhr.responseText);
			  }
		  });
		  //$("#_LoginPartial").load('@Url.Content("/product/patial_theloai")');
	  };
	  //function add_book(){
	  //	var tensach = $("#zBook_TenSach")[0].value;
	  //	var theloai = $("#zBook_the_loaiId").find('option:selected').attr('value');
	  //	var tacgia = $("#zBook_tacgiaId").find('option:selected').attr('value');

	  //	if( document.getElementById("File_PDF").files.length == 0 ){
	  //		toastr.error('Thông Tin Không đầy Đủ!', 'Error');
	  //	}
	  //	else if( document.getElementById("File_img").files.length == 0 ){
	  //		toastr.error('Thông Tin Không đầy Đủ!', 'Error');
	  //	}
	  //	if(tensach == ""|| theloai == null || tacgia == null || file_img== null|| file_pdf == null)
	  //	{
	  //			toastr.error('Thông Tin Không đầy Đủ!', 'Error');
	  //	}
	  //}
	var loadFile_img = function(event) {
	  var reader = new FileReader();
	  reader.onload = function(){
		var output = document.getElementById('File_img');
		output.src = reader.result;
	  };
	  reader.readAsDataURL(event.target.files[0]);
	};
	
</script>

}
